* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .nextBtn {
    position: absolute;
    font-size: 1.5em;
    color: white;
    z-index: 100;
    border: 1px solid #648BD9;
    background-color: #648BD9;
    border-radius: 50%;
    padding: 3px 10px;
    transform: translateX(420px);
}

section {
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section .prevBtn {
    content: ">";
    position: absolute;
    font-size: 1.5em;
    color: white;
    z-index: 100;
    border: 1px solid #648BD9;
    background-color: #648BD9;
    border-radius: 50%;
    padding: 3px 10px;
    transform: translateX(-420px);
}

section .item {
    background: linear-gradient(90deg, rgba(88,139,224,1) 0%, rgba(104,108,209,1) 100%);
    color: white;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 4px;
    border: transparent;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    filter: none;
}

section .active {
    z-index: 100;
    scale: 1.25;
    opacity: 1;
}


section .next {
    transform: translateX(300px);
    opacity: 0.8;
    transition: opacity 0.5s;
}

section .prev {
    transform: translateX(-300px);
    opacity: 0.8;
    transition: opacity 0.5s;
}

.button {
    padding: 15px 20px;
    color: white;
    background-color: #fcb447;
    text-decoration: none;
    display: block;
    margin: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    letter-spacing: 1px;
}

.nextNavigate {
    position: absolute;
    bottom: 0;
    right: 0;
}

.previous {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 767px) {
    .button {
        font-size: 15px;
        width: 25%;
    }
}